#   _____             __ _                       _   _                
#  / ____|           / _(_)                     | | (_)                
# | |     ___  _ __ | |_ _  __ _ _   _ _ __ __ _| |_ _  ___  _ __  ___ 
# | |    / _ \| '_ \|  _| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \/ __|
# | |___| (_) | | | | | | | (_| | |_| | | | (_| | |_| | (_) | | | \__ \
#  \_____\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|___/
#                           __/ |                                      
#                          |___/    
#
# Klipper Configurations - Flsun V400
# Version 4.0
#
# Guislain Cyril


########################################
# Firmware Settings
########################################

# BTT Manta M8P v2.0
# When running "make menuconfig"
#
# [*] Enable extra low-level configuration options
#     Micro-controller Architecture (STMicroelectronics STM32)  --->
#     Processor model (STM32H723)  --->
#     Bootloader offset (128KiB bootloader) --->
#     Clock Reference (25 MHz crystal) --->
#     Communication interface (USB (on PA11/PA12)) --->
#     USB ids --->
# ()  GPIO pins to set at micro-controller startup

# How to update without SDCard:
#
# ls /dev/serial/by-id/*
# make flash FLASH_DEVICE=/dev/serial/by-id/usb-Klipper_stm32h723xx_2E0007001751333031373837-if00
# or if in DFU Mode:
# lsusb
# make flash FLASH_DEVICE=0483:df11


########################################
# Editable Settings
########################################

# Notes: Some settings can be enabled or disabled by removing or adding the '#' symbol
#
# PID (pid_Kp, pid_Ki, pid_Kd) --> [extruder] and [heater_bed] sections
# E-Steps Extruder (rotation_distance) --> [extruder] section --> <rotation_distance> = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
# Pressure Advance (pressure_advance) --> [extruder] section -- See: https://www.klipper3d.org/Pressure_Advance.html
# Firmware Retraction --> [firmware_retraction] section -- Requires "Klipper Settings Plugin" for Cura -- See: https://github.com/jjgraphix/KlipperSettingsPlugin
# ADXL345 function for resonance testing --> Enable/Disable [include adxl345_pico.cfg], [include adxl345_fysetc.cfg] or [include adxl345_flsun.cfg] -- Configuration in [input_shaper] section -- See: https://www.klipper3d.org/Measuring_Resonances.html
# NeoPixels macros --> Enable/Disable [include neopixels.cfg]
# Timelapse function --> Enable/Disable [include timelapse.cfg]


########################################
# Included Files
########################################

[include macros.cfg]
#[include mainsail.cfg]
#[include timelapse.cfg]
[include neopixels.cfg]
[include neopixels_sequenz_1.cfg]
#[include neopixels_sequenz_2.cfg]


########################################
# Printer Settings
########################################

[printer]
kinematics: delta
max_velocity: 300
max_accel: 3000
square_corner_velocity: 5
max_z_velocity: 300
minimum_z_position: -5
print_radius: 152
#delta_radius: 161.75


########################################
# X Stepper Motor & Driver Settings
########################################

[stepper_a]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
endstop_pin: ^PF4
homing_speed: 40
#angle: 210
#position_endstop: 430.0
#arm_length: 345.0

[tmc2209 stepper_a]
uart_pin: PC13
run_current: 1.4
interpolate: True
stealthchop_threshold: 999999


########################################
# Y Stepper Motor & Driver Settings
########################################

[stepper_b]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
endstop_pin: ^PF3
#angle: 330

[tmc2209 stepper_b]
uart_pin: PE3
run_current: 1.4
interpolate: True
stealthchop_threshold: 999999


########################################
# Z Stepper Motor & Driver Settings
########################################

[stepper_c]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
endstop_pin: ^PF2
homing_retract_dist: 0 # beacon needs this to be set to 0
#angle: 90

[tmc2209 stepper_c]
uart_pin: PB9
run_current: 1.4
interpolate: True
stealthchop_threshold: 999999


########################################
# Extruder & Driver Settings
########################################

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 5.6
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA0
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PB0
min_temp: -5
max_temp: 315
max_extrude_cross_section: 50
max_extrude_only_distance: 500
pressure_advance: 0.04
pressure_advance_smooth_time: 0.020
#control: pid
#pid_kp: 19.559
#pid_ki: 1.358
#pid_kd: 70.412

[tmc2209 extruder]
uart_pin: PB5
run_current: 0.60
interpolate: False
stealthchop_threshold: 0


########################################
# Bed Settings
########################################

[heater_bed]
heater_pin: PA1
sensor_pin: PB1
sensor_type: Generic 3950
min_temp: -5
max_temp: 150
#control: pid
#pid_kp: 73.544
#pid_ki: 2.709
#pid_kd: 499.183


########################################
# Filament Sensor Settings
########################################

[filament_switch_sensor filament_sensor]
pause_on_runout: True
runout_gcode: M600
switch_pin: PF10


########################################
# Fans Settings
########################################

[fan]
pin: PF9

[heater_fan Hotend] 
pin: PF7
heater_temp: 50.0

[controller_fan Manta]
pin: PA4
max_power: 1.0
stepper: stepper_a, stepper_b, stepper_c


########################################
# Beacon Settings
########################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_AE3160DC5154354D38202020FF0A3140-if00
backlash_comp: 0.03
x_offset: 0
y_offset: 18.5
default_probe_method: proximity
contact_max_hotend_temperature: 160


########################################
# Delta Calibration & Mesh Settings
########################################

[delta_calibrate]
speed: 50
horizontal_move_z: 23
radius: 130  #148

[bed_mesh]
speed: 50 
horizontal_move_z: 23
mesh_radius: 130  #148
mesh_origin: 0,0
round_probe_count: 9
algorithm: bicubic


########################################
# Temperature Controls
########################################

[verify_heater heater_bed]
max_error: 120
check_gain_time: 60
hysteresis: 5
heating_gain: 2

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2


########################################
# Firmware Retraction Settings
########################################

[firmware_retraction]
retract_length: 0.6
retract_speed: 35
unretract_speed: 35


########################################
# Input Shaper Settings
########################################

[resonance_tester]
probe_points: 0, 0, 25
accel_chip: beacon

[input_shaper]
#shaper_type_x: mzv
#shaper_freq_x: 50.8
#shaper_type_y: mzv
#shaper_freq_y: 54.4


########################################
# G-Code Macros & Events
########################################

[idle_timeout]
timeout: 7200

[save_variables]
filename: ~/printer_data/config/variables.cfg

[gcode_arcs]
resolution: 0.1

[pause_resume]

[display_status]

[respond]
default_type: echo
default_prefix: 

[exclude_object]

[virtual_sdcard]
path: ~/printer_data/gcodes

[endstop_phase stepper_a]
endstop_align_zero: False

[endstop_phase stepper_b]
endstop_align_zero: False

[endstop_phase stepper_c]
endstop_align_zero: False 


########################################
# MCU Settings
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2E0007001751333031373837-if00
restart_method: command

[temperature_sensor Raspberry_CM4]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Manta_M8P]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.000
#*# pid_ki = 3.974
#*# pid_kd = 60.450
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 59.559
#*# pid_ki = 2.101
#*# pid_kd = 422.126
#*#
#*# [endstop_phase stepper_a]
#*# trigger_phase = 56/64
#*#
#*# [endstop_phase stepper_b]
#*# trigger_phase = 4/64
#*#
#*# [endstop_phase stepper_c]
#*# trigger_phase = 63/64
#*#
#*# [printer]
#*# delta_radius = 162.554884
#*#
#*# [stepper_a]
#*# angle = 209.733007
#*# arm_length = 345.000000
#*# position_endstop = 432.437869
#*#
#*# [stepper_b]
#*# angle = 329.945512
#*# arm_length = 345.000000
#*# position_endstop = 432.023603
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 345.000000
#*# position_endstop = 432.414351
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 39.2
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 39.0