#   _____             __ _                       _   _                
#  / ____|           / _(_)                     | | (_)                
# | |     ___  _ __ | |_ _  __ _ _   _ _ __ __ _| |_ _  ___  _ __  ___ 
# | |    / _ \| '_ \|  _| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \/ __|
# | |___| (_) | | | | | | | (_| | |_| | | | (_| | |_| | (_) | | | \__ \
#  \_____\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|___/
#                           __/ |                                      
#                          |___/    
#
# Klipper Configurations - Flsun V400
# Version 1.0

########################################
# Firmware Settings
########################################

# BTT Manta M8P v2.0
# When running "make menuconfig"
#
# [*] Enable extra low-level configuration options
#     Micro-controller Architecture (STMicroelectronics STM32)  --->
#     Processor model (STM32H723)  --->
#     Bootloader offset (128KiB bootloader) --->
#     Clock Reference (25 MHz crystal) --->
#     Communication interface (USB (on PA11/PA12)) --->
#     USB ids --->
# ()  GPIO pins to set at micro-controller startup

# How to update without SDCard:
# ls /dev/serial/by-id/*
#
# sudo service klipper stop
# make flash FLASH_DEVICE=/dev/serial/by-id/usb-Klipper_stm32h723xx_2E0007001751333031373837-if00
# sudo service klipper start
#
# or if in DFU Mode:
# lsusb
# sudo service klipper stop
# make flash FLASH_DEVICE=0483:df11
# sudo service klipper start


########################################
# MCU Settings
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2E0007001751333031373837-if00
restart_method: command


########################################
# Printer Settings
########################################

[printer]
kinematics: delta
max_velocity: 300
max_accel: 3000
square_corner_velocity: 5
max_z_velocity: 300
minimum_z_position: -5
print_radius: 152
#delta_radius: 161.75

########################################
# Included Files
########################################

[include macros.cfg]
#[include timelapse.cfg]
[include neopixels.cfg]
[include neopixels_sequenz_1.cfg]
#[include neopixels_sequenz_2.cfg]


########################################
# X Stepper Motor & Driver Settings
########################################

[stepper_a]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2240_stepper_a:virtual_endstop 
homing_retract_dist: 0
homing_speed: 40
#position_endstop: 435.0
#arm_length: 345.0
#angle: 210

[tmc2240 stepper_a]
cs_pin: PC13
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
run_current: 1.4
interpolate: True
stealthchop_threshold: 999999
diag0_pin: ^!PF4
driver_sgt: 1  #-64 is most sensitive value, 63 is least sensitive


########################################
# Y Stepper Motor & Driver Settings
########################################

[stepper_b]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2240_stepper_b:virtual_endstop
#angle: 330

[tmc2240 stepper_b]
cs_pin: PE3
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
run_current: 1.4
interpolate: True
stealthchop_threshold: 999999
diag0_pin: ^!PF3
driver_sgt: 1  #-64 is most sensitive value, 63 is least sensitive


########################################
# Z Stepper Motor & Driver Settings
########################################

[stepper_c]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2240_stepper_c:virtual_endstop
homing_retract_dist: 0
#angle: 90

[tmc2240 stepper_c]
cs_pin: PB9
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
run_current: 1.4
interpolate: True
stealthchop_threshold: 999999
diag0_pin: ^!PF2
driver_sgt: 1  #-64 is most sensitive value, 63 is least sensitive


########################################
# Extruder & Driver Settings
########################################

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 5.6
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA0
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PB0
min_temp: -5
max_temp: 315
max_extrude_cross_section: 50
max_extrude_only_distance: 500
pressure_advance: 0.04
pressure_advance_smooth_time: 0.020
control: pid
pid_kp: 19.559
pid_ki: 1.358
pid_kd: 70.412

[tmc2240 extruder]
cs_pin: PB5
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
run_current: 0.60
interpolate: True
stealthchop_threshold: 0


########################################
# Bed Settings
########################################

[heater_bed]
heater_pin: PA1
sensor_pin: PB1
sensor_type: Generic 3950
min_temp: -5
max_temp: 150
control: pid
pid_kp: 73.544
pid_ki: 2.709
pid_kd: 499.183


########################################
# Filament Sensor Settings
########################################

[filament_switch_sensor filament_sensor]
pause_on_runout: True
runout_gcode: M600
switch_pin: PF10


########################################
# Fans Settings
########################################

[fan]
pin: PF9

[heater_fan Hotend] 
pin: PF7
heater_temp: 50.0

[controller_fan Manta]
pin: PA4
max_power: 1.0
stepper: stepper_a, stepper_b, stepper_c


########################################
# Beacon Settings
########################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_AE3160DC5154354D38202020FF0A3140-if00
backlash_comp: 0.03
x_offset: 0
y_offset: 18.5
default_probe_method: proximity
contact_max_hotend_temperature: 160


########################################
# Delta Calibration & Mesh Settings
########################################

[delta_calibrate]
speed: 50
horizontal_move_z: 23
radius: 130  #148

[bed_mesh]
speed: 50 
horizontal_move_z: 23
mesh_radius: 130  #148
mesh_origin: 0,0
round_probe_count: 9
algorithm: bicubic


########################################
# Temperature Controls
########################################

[verify_heater heater_bed]
max_error: 120
check_gain_time: 60
hysteresis: 5
heating_gain: 2

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2


########################################
# Firmware Retraction Settings
########################################

[firmware_retraction]
retract_length: 0.6
retract_speed: 35
unretract_speed: 35


########################################
# Input Shaper Settings
########################################

[resonance_tester]
probe_points: 0, 0, 25
accel_chip: beacon

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 50.8
shaper_type_y: mzv
shaper_freq_y: 54.4


########################################
# G-Code Macros & Events
########################################

[idle_timeout]
timeout: 7200

[gcode_arcs]
resolution: 0.1

[pause_resume]

[display_status]

[respond]

[exclude_object]

[virtual_sdcard]
path: ~/printer_data/gcodes

[endstop_phase stepper_a]
endstop_align_zero: False

[endstop_phase stepper_b]
endstop_align_zero: False

[endstop_phase stepper_c]
endstop_align_zero: False 


########################################
# Temperature Settings
########################################

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Manta_M8P]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.5716999580917976,
#*# 	1.8726680117094154,
#*# 	0.6749494109881331,
#*# 	0.23109374331421825,
#*# 	0.4801856578759181,
#*# 	0.6828557859546488,
#*# 	-0.4610080009404594,
#*# 	-0.8378834458049212,
#*# 	0.3351738142529632,
#*# 	0.45372650463965036
#*# model_domain = 1.881088372910221e-07,1.9371062812667066e-07
#*# model_range = 0.201256,5.001256
#*# model_temp = 28.769450
#*# model_offset = 0.00000
#*#
#*# [printer]
#*# delta_radius = 162.589975
#*#
#*# [stepper_a]
#*# angle = 209.780223
#*# arm_length = 345.000000
#*# position_endstop = 435.464595
#*#
#*# [stepper_b]
#*# angle = 329.930248
#*# arm_length = 345.000000
#*# position_endstop = 434.451703
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 345.000000
#*# position_endstop = 434.447548
#*#
#*# [delta_calibrate]
#*# height0 = 0
#*# height0_pos = 69565.667,69565.667,69565.667
#*# height1 = 0
#*# height1_pos = 79820.446,79820.446,63371.942
#*# height2 = 0
#*# height2_pos = 68189.983,85777.796,68189.983
#*# height3 = 0
#*# height3_pos = 63778.347,78276.930,78276.930
#*# height4 = 0
#*# height4_pos = 67922.006,67922.006,80769.215
#*# height5 = 0
#*# height5_pos = 76664.935,64026.018,76664.935
#*# height6 = 0
#*# height6_pos = 83034.501,67925.970,67925.970
